body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-simple-e-commerce-jobs-career-image_21503.jpg");
    background-size:cover;
    height: 100vh;
}